{% extends 'base.html' %}

{% block style %}
table {
    width: 100%;
    border:solid;
    border-collapse: collapse;
    }
td, th {
    width: 10%;
    border: solid;
    }
{% endblock %}

{% block title %} LC storage {% endblock %}

{% block body %}
<div> {{ get_flashed_messages() }}
</div>
<script>
   function enableButton()
{
    var selectelem = document.getElementById('LC Number');
    var btnelem = document.getElementById('view_lc');
    btnelem.disabled = !selectelem.value;
}
  </script>

<div class="container">
    {% for letter in letters_of_credit %}
    <form id="lc_number" method="post" action="{{url_for('letter_detail', lc_number = letter.lc_number, id = letter.id)}}">
    {% endfor %}
    <input type="submit" form="lc_number" disabled value="View Selected LC" id="view_lc">
    </form>

    <table>
        <thead>
            <tr>
                <th>
                    <select form="lc_number" name="LC Number" id="LC Number" required onchange="enableButton()">
                        <option disabled selected>LC Number</option>
                        {% for letter in letters_of_credit %}
                        <option name="lc_number" value="{{letter.lc_number}}">{{ letter.lc_number }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>Applicant</th>
                <th>Beneficiary</th>
                <th>Goods</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Date of Issue</th>
                <th>Expiry Date</th>
            </tr>
        </thead>

        <tbody>
        {% for letter in letters_of_credit %}
            <tr>
                <td align="right"><a href="{{url_for('letter_detail', lc_number = letter.lc_number, id = letter.id )}}">{{ letter.lc_number }}</a></td>
                <td align="right"><a href="{{url_for('applicant_detail', applicant_name = letter.applicant_name )}}">{{ letter.applicant_name }}</a></td>
                <td align="right">{{ letter.beneficiary_name }}</td>
                <td align="right">{{ letter.goods }}</td>
                <td align="right">{{ letter.currency }}</td>
                <td align="right">{{ letter.amount }}</td>
                <td align="right">{{ letter.date_of_issue }}</td>
                <td align="right">{{ letter.expiry_date }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>


    </div>

{% endblock %}